<header class="header">
    <a class="logo" href="{{ path('main_home') }}" >
        <img class="logo" src="{{ asset('resources/images/logo.png') }}" width="56" height="64" alt="Logo Bucket-List"/>
        <span class="logo">Bucket-List</span>
    </a>
    <nav>
        <a href="{{ path('main_home') }}">Accueil</a>
        <a href="{{ path('wish_list') }}">Wish-list</a>
        <a href="{{ path('main_aboutUs') }}">About us</a>
    </nav>
</header>