<header class="header">
    <a class="logo" href="{{ asset('/') }}" >
        <img class="logo" src="{{ asset('resources/images/logo.png') }}" width="56" height="64" alt="Logo Bucket-List"/>
        <span class="logo">Bucket-List</span>
    </a>
    <nav>
        <a href="{{ asset('/') }}">Accueil</a>
        <a href="{{ asset('wish/list') }}">Wish-list</a>
        <a href="{{ asset('about_us') }}">About us</a>
    </nav>
</header>